.button { /*alterei de "botao padrao para "button" para seguir o readme */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    transition: background-color 0.2s;

    /* variáveis de tamanho de variables */
    width: var(--button-width);
    height: var(--button-height);

    /* variáveis de cores e bordas de variables */
    color: var(--color-white);
    background-color: var(--color-primary);
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius-sm); /* Garante que o botão tenha cantos arredondados bonitinhos */
}

.button--category{ /*usando o padrao BEM para modificar o botao*/
    width: 390px; /*tela mobile*/
    height: 45px; 
}

.button:active {
    background-color: var(--color-primary-active);
}