/* Tela da simulação do celular */

body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: blueviolet;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

/* Representação das medidas do celular*/
.mobile-device{
    width: 360px;
    height: 740px;
    background-color: #fff;
    border: 12px solid #1a1a1a;
    border-radius: 36px;
    padding: 24px;
    box-sizing: 
    display
}