/* explicar para a giovana que aqui são variaveis globais, que podem ser usadas em qualquer lugar do projeto, e que irei implementá-las depois*/
:root {

    /* Página */
    --page-width: 430px;
    --page-height: 932px;

    /* Botões */
    --button-width: 190px;
    --button-height: 42px;

    /* Cores */
    --color-background: #F0F4F3;

    --color-primary: #49C4CC;
    --color-primary-active: #278F96;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-border: #000000;

    /* Espaçamentos */
    --spacing-small: 10px;
    --spacing-medium: 20px;

    /* Bordas */
    --border-width: 1px;
    --color-gray-muted: #6B6B6B;
    --color-gray-light: #EFEFEF;
    --color-danger: #D32F2F;

    /* Tipografia (Fontes) */
    --font-xs: 11px;
    --font-sm: 13px;
    --font-md: 15px;
    --font-lg: 18px;
    --font-xl: 22px;

    /* Arredondamento (Raios de Borda) */
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-pill: 9999px;
}